mat-form-field {
    margin-left: 5px;
    display: block;
    width: 10cm;
    padding-left: 20cm;


}
#teste {
    margin-left: 38em;
}
h1 {
    padding: 20px 0 20px 20px;
    text-align: center;
    font-size: 50px;
background-color: #FFEBCD;}


.disc-card {
        max-width: 300px;
        background-color: rgb(231, 231, 231);
        margin-top: 10px;
        margin-left: 21cm;
    }

